
body {
	padding: 0px;
	margin: 0px;
	font-family: Arial,Helvetica,Sans Serif;
	font-size:11px;
	background: white;
}

#header {
	background-color: #dddddd;
}

#header h1 {
	height: 170px;
	width: 350px;
	padding: 0;
	margin: 0;
}

#header h1 a {
	background: white url('images/logo.png') top left no-repeat;
	display: inline-block;
	height: 170px;
	width: 350px;
}

#header h1 a span {
	display: none;
}

#usermenu {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 300px;	
	text-align: right;
}

#main {
	background: white url('images/sidebar.png') repeat-y top left;
	min-height: 800px;
}

#sidebar {
	width: 350px;
	display: inline-block;
	float: left;
}

#sidebar .block {

    padding: 20px 20px 0px 20px;

}

#sidebar .block h3 {
    color: #ffffff;
    font-size: 15px;
}

#sidebar .block .description {
    color: #c6c6c6;
    font-size: 10px;
}

#sidebar .block ul {
    padding-left: 20px;
    list-style-type: square;
    color: #ac39b9;
}

#sidebar .block li {
    color: #c6c6c6;
    margin-bottom: 5px;
}

#sidebar .block a {
    color: #ffffff;
}

#sidebar .block ul {
    padding-left: 20px;
}

#content {
	padding: 30px 50px 50px 400px;
	width: 700px;	
}

#content {
	

}

#description {
    display: block;
    width: 300px;
    float: right;
}

a {
	text-decoration: none;
	color:  #ac39b9;
}

.empty {
	width: 500px;
	padding: 20px 0;
	color: #9c9c9c;
	text-align: center;
	font-size: 14px;
}

.phrase_full .phrase_label,
.phrase_full .translations_label,
.phrase_full .comments_label {
	color: #B6B6B6;
	text-transform: uppercase;
	padding: 30px 0 10px 0;
}

.phrase_full .phrase_label {
	color: #B6B6B6;
	padding-top: 0;
}


.phrase_full .phrase {
	font-weight: bold;
	font-size: 28px;

}

.phrase_list ul,
.phrase_full ul.translations {
	list-style: none;
	padding: 0;
	margin: 0;

}

.phrase_list ul li {
    width: 360px;
	padding-bottom: 5px;
}

.phrase_list ul li .name {
	font-size: 14px;
	display: inline-block;
	width: 300px;
	text-decoration: none;
	color:  #9c9c9c;
}

.phrase_list ul li.translated .name {
	color: #ac39b9;
}

.phrase_list ul li .translations {
	display: inline-block;
	width: 22px;
	height: 20px;
	font-size: 10px;
	color: white;
	text-align: center;
	padding-top: 4px;
	background: transparent url('images/translation.png') no-repeat 0 0;
}

.phrase_list ul li.translated .translations {
	background: transparent url('images/translation.png') no-repeat 0 -59px;
}

.phrase_list ul li .comments {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 10px;
	color: white;
	text-align: center;
	padding-top: 3px;
	margin-left: 4px;
	background: transparent url('images/comment.png') no-repeat 0 0;
}

.newphrase form,
.phrase_full ul.translations li { 
	font-size: 0;
	padding-bottom: 20px;
    width: 520px;
    height: 30px;
    clear: right;
}

.phrase_full ul.translations li .name,
.phrase_full ul.translations li .empty {
	font-size: 22px;
	display: inline-block;
	width: 437px;
	text-decoration: none;
	color:  #9c9c9c;
}

.phrase_full ul.translations li.empty {
	font-size: 20px;
	color: #5c5c5c;
	font-style: italic;
}

.phrase_full ul.translations li .votes {
    display: inline-block;
    float: right;
}

.phrase_full ul.translations li .votes .count {
	margin: 0;
	font-size: 14px;
	display: inline-block;
	width: 40px;
	text-align: center;
	background-color: #ac39b9;
	color: white;
	padding: 5px;
}

.phrase_full ul.translations a.voted,
.phrase_full ul.translations a.vote {
	font-size: 14px;
	display: inline-block;
	width: 22px;
	color: white;
	padding: 5px;
	background: #5c5c5c url('images/vote.png') no-repeat 8px 5px;
	text-indent: 40px;
}

.phrase_full ul.translations a.vote:hover {
	background: #5c5c5c url('images/vote.png') no-repeat 8px -45px;
}


.phrase_full ul.translations a.voted {
	background: #9c9c9c url('images/vote.png') no-repeat 8px -45px;
}

.phrase_full ul.translations form {

}

.newphrase input.add,
.phrase_full ul.translations input.add {
	cursor: pointer;
	margin: 0;
	font-size: 16px;
	width: 32px;
	display: inline-block;
	border: none;
	background: #ac39b9 url('images/add.png') no-repeat 7px -23px;
	color: white;
	padding: 5px;
	text-indent: 40px;
}

.newphrase #id_content,
.phrase_full ul.translations #id_content {
	margin: 0;
	font-size: 16px;
	width: 475px;
    background: white none;
    border: 1px solid #ac39b9;
	padding: 5px;
	text-indent: 0px;
}

#description .newphrase #id_content {
    width: 250px;
}

ul.comments {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.comments li.comment {
	padding: 10px 10px 50px 10px;
	margin: 10px 0 30px 0;
	width: 500px;
}

ul.comments li.comment .message {
	font-size: 12px;
}

ul.comments li.comment .user {
	font-size: 10px;
	margin-top: 20px;
	color: #9C9C9C;
	text-align: right;
}

ul.comments li.comment .user .name,
ul.comments li.comment .user .date,
ul.comments li.comment .user .time {
	color: #2C2C2C;
}

ul.comments li.comment.odd {
	background: #efd4f2 url('images/comment-left.png') no-repeat bottom left;
}

ul.comments li.comment.even {
	background: #efd4f2 url('images/comment-right.png') no-repeat bottom right;
}

ul.comments li.newcomment {
	padding: 0px 0px 40px 0px;
	margin: 10px 0;
	width: 520px;
	background: #f1f1f1 url('images/comment-left.png') no-repeat bottom left;
}

ul.comments li.newcomment form {
	position: relative;
}

ul.comments li.newcomment textarea {
	width: 510px;
	height: 100px;
	background-color: #f1f1f1;
	border: none;
	resize: vertical;
	color: #272727;
	padding: 5px;

}

ul.comments li.newcomment input.add {
	cursor: pointer;
	margin: 0;
	font-size: 16px;
	width: 32px;
	display: inline-block;
	border: none;
	background: #ac39b9 url('images/add.png') no-repeat 7px -23px;
	color: white;
	padding: 5px;
	text-indent: 40px;
	position: absolute;
	top: 0px;
	right: 0px;
}

