{% extends "dictionary/base.html" %}
{% load i18n %}

{% block title %}{% trans "List of phrases" %}{% endblock %}
{% block heading %}{% trans "List of phrases" %}{% endblock %}

{% block content %}
<div class="phrase_list">
<ul>
{% regroup phrases by first_letter as letter_list %}
{% for letter in letter_list %}
  <li><h2 class="letter">{{ letter.grouper }}</h2>
    <ul>
        {% for phrase in letter.list %}
<li class="phrase {% if phrase.translation_count > 0 %}translated{% endif %}"><a class="name" href="{% url "dictionary-phrase" phrase.id %}">{{ phrase.content }}</a> <span class="translations">{{ phrase.translation_count }}</span></li>
	{% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
</div>
{% endblock %}
