{% extends "dictionary/base.html" %}
{% load i18n %}

{% block title %}Phrase '{{ phrase.content }}'{% endblock %}
{% block heading %}{% endblock %}

{% block content %}
<div class="phrase_full">
<div class="phrase_label">{% trans "Phrase" %}</div>
<div class="phrase">{{ phrase.content }}
    {% if user.is_superuser %}
        <a href="{% url "dictionary-delete" phrase.pk %}" class="delete" onclick="return confirm('{% trans "Do you want to delete phrase and all translations?" %}')">{% trans "Delete" %}</a>
    {% endif %}
</div>
<div class="translations_label">{% trans "Translations" %}</div>
<ul class="translations">
{% for translation in translations %}
<li class="translation">
<span class="name">{{translation.content}}</span>


{% if user.is_authenticated %}
    {% if translation.pk == voted.pk %}
        <a class="votes voted">{{ translation.vote_count }}</a>
    {% else %}
        <a href="{% url "dictionary-vote" translation.pk %}" class="votes vote">{{ translation.vote_count }}</a>
    {% endif %}

    {% if user.is_superuser %}
        <a href="{% url "dictionary-untranslate" translation.pk %}" class="delete" onclick="return confirm('{% trans "Do you want to delete this translation?" %}')">{% trans "Delete" %}</a>
    {% endif %}
{% else %}
    <span class="votes">{{ translation.vote_count }}</span>
{% endif %}


</span>
</li>
{% empty %}
<li class="empty">{% trans "No suggested translations" %}</li>
{% endfor %}
{% if user.is_authenticated %}
<li class="translate">
<form method="post" action="{% url "dictionary-translate" phrase.pk %}">
{% csrf_token %}
{{ form.errors }}
{{ form.content }}
<input class="add" type="submit" value="{% trans "Recommend" %}" />
</form>
</li>
{% endif %}
</ul>

{% block content_footer %}{% endblock %}
{% endblock %}
