{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sign in with your OpenID" %}{% endblock %}
{% block heading %}{% trans "Sign in with your OpenID" %}{% endblock %}
{% block css %}
<style type="text/css">
input.openid {
    background: url({% url openid-logo %}) no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}
</style>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/openid.css" />
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/openid-jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/openid-en.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		openid.img_path = '{{ MEDIA_URL }}images/';
		openid.init('openid_identifier');
		//openid.setDemoMode(true); //Stops form submission for client javascript-only test purposes
	});
</script>
{% endblock %}
{% block content %}
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
    {% if form.openid_identifier.errors %}
    <span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
    {% endif %}
    {% if form.next.errors %}
    <span class="error">{{ form.next.errors|join:", " }}</span>
    {% endif %}
</p>
{% endif %}
<form name="fopenid" id="openid_form" action="{{ action }}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Sign In Using Your OpenID" %}</legend>
	<div id="openid_choice">
		<div id="openid_btns"></div>
	</div>
	<div id="openid_input_area">
            <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
            {{ form.openid_identifier }}
	    <input id="openid_submit" type="submit" value="{% trans "Sign in" %}"/>
	</div>
 {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
 {% endif %}
	<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
	Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
    </fieldset>
</form>
{% endblock %}
