{% extends "base.html" %}

{% block title %}Seznam izrazov{% endblock %}
{% block heading %}Seznam izrazov{% endblock %}

{% block content %}
<div id="description">
<div class="welcome">
    <h2>Slovar izrazov SDRV</h2>
    <p>Dobrodošli na strani spletnega slovarja Slovenskega društva za razpoznavanje vzorcev.</p>
</div>
    {% if user.is_authenticated %}
        <div class="newphrase">
            <form method="post" action="{% url dictionary-ask %}">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.content }}
                <input type="submit" class="add" value="Dodaj" />
            </form>
        </div>
    {% endif %}

</div>
<div class="phrase_list">
<ul>
{% regroup phrases by first_letter as letter_list %}
{% for letter in letter_list %}
  <li><h2 class="letter">{{ letter.grouper }}</h2>
    <ul>
        {% for phrase in letter.list %}
<li class="phrase {% if phrase.translation_count > 0 %}translated{% endif %}"><a class="name" href="{% url dictionary-phrase phrase.id %}">{{ phrase.content }}</a> <span class="translations">{{ phrase.translation_count }}</span></li>
	{% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
</div>
{% endblock %}
