{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{% trans "Phrase" %} {{ phrase.content }}{% endblock %}
{% block heading %}{% endblock %}

{% block content %}
<div class="phrase_full">
<div class="phrase_label">{% trans "Phrase" %}</div>
<div class="phrase">{{ phrase.content }}</div>
<div class="translations_label">{% trans "Translations" %}</div>
<ul class="translations">
{% for translation in translations %}
<li class="translation">
<span class="name">{{translation.content}}</span>
<span class="votes">{{ translation.vote_count }}</span>
{% if user.is_authenticated %}
{% if translation.pk == voted.pk %}
<a class="voted">{% trans "Vote" %}</a>
{% else %}
<a href="{% url dictionary-vote translation.pk %}" class="vote">{% trans "Vote" %}</a>
{% endif %}
{% endif %}
</li>
{% empty %}
<li class="empty">{% trans "No translations" %}</li>
{% endfor %}
<li class="translate">
{% if user.is_authenticated %}
<form method="post" action="{% url dictionary-translate phrase.pk %}">
{% csrf_token %}
{{ form.errors }}
{{ form.content }}
<input type="submit" value="{% trans "Add" %}" />
</form>
{% endif %}
</li>
</ul>


{% render_comment_list for phrase %}

</div>
{% endblock %}
